.welcome{
    background-color: #ebf5c1;
}

.default{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.welcometext{;
    top: 50%;
    font-size:40px;
}

.paragraph1{
    top: 55%;
}

.paragraph2{
    top: 60%;
}
