doctype html
html(lang="en")
head
title Welcome
link(rel='stylesheet', href='default.css')
body
div(class='welcome-block') <span class='main-text'>MVCPillar</span><br/><b>A simple mvc structure using Node js</b><br/><br/>#{data.data1}<br>#{data.data2}<br/>View loaded successfully.Path : app/views/welcome.pug<br/><span id='root'></span>
