doctype html
html(lang="en")
head
title Welcome
link(rel='stylesheet', href='default.css')
body(class='welcome')
div(class='default welcometext') Welcome to MVCPillar
p(class='default paragraph1') #{data.controllerData}
p(class='default paragraph2') #{data.modelData}